<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        body{
            background-image:url("/static/bck.jpg");
            background-repeat: no-repeat;
        }
        .form{
            padding-top:80px;
            padding-left: 610px;
        }
        #btn1{
            margin-left:10px;
        }
        #name{
            background: transparent;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h3>Company Logo</h3>
    <form name="search" action="." method="post" class="form-inline">
        <div class="form">
            <div class=" form-group mx-sm-7 mb-2">
                <input name="Emp" placeholder="Enter Name" class="form-control border-danger " id="name">
                <input type="submit" value="submit" class="btn btn btn-outline-danger" id="btn1">
            </div>
        </div>
    </form>
</body>
</html>